# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Python
- R
- SQL
- Pandas
- dplyr

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. Keras
6. dplyr
7. ggplot2
8. caret
9. GGalley

|Data Science Tools|
|------------------|
|Jupyterlab|
|Google Colab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author Raphael Ge