# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- list data science languages
- list data science libraries
- a table of Data Science tools
- arithmetic expression examples
- author's name

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow
5. Keras
6. dplyr
7. ggplot2
8. caret
9. GGalley

|Data Science Tools|
|------------------|
|Jupyterlab|
|Google Colab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Raphael Ge